@model List<Application.DTOs.MyServiceDto>

<div class="content">

    <!--nav bar-->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a   class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>

    </nav>
    <!--nav bar end -->

    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">

            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Serivce Table</h6>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Service ID</th>
                            <th scope="col">Service Name</th>
                            <th scope="col">Service Description</th>
                            <th scope="col">Service Picture</th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.ServiceId</th>
                                <td>@item.ServiceName</td>
                                <td>@item.ServiceDescription</td>
                                <td>
                                    @if (string.IsNullOrEmpty(item.ServicePicture))
                                    {
                                        <img id="preview" src="~/images/coding.png" alt="Image Preview" style="max-width: 30%; max-height: 300px; ">
                                    }
                                    else
                                    {
                                        <img id="preview" src="~/images/ServiceImages/@item.ServicePicture" alt="Image Preview" style="max-width: 30%; max-height: 300px; ">
                                    }
                                </td>
                                <td>
                                    <a type="button"
                                       asp-area="Admin"
                                       asp-controller="MyServices"
                                       asp-action="EditService"
                                       asp-route-ServiceId="@item.ServiceId"
                                       class="btn btn-warning m-2">
                                        Edit
                                    </a>
                                </td>
                                <td>

                                    <a type="button" asp-area="Admin" asp-controller="MyServices" asp-action="DeleteService" asp-route-ServiceId="@item.ServiceId" class="btn btn-danger m-2" onclick="return confirm('Are you sure you want to delete this skill? This action cannot be undone.')">
                                        Delete
                                    </a>


                                </td>

                            </tr>
                        }

                    </tbody>

                </table>
            </div>


        </div>
    </div>
</div>