@model Application.DTOs.ShowAllDto;

<section class="content">

    <!--nav bar-->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
            <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
        </a>
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>

    </nav>
    <!--nav bar end -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4 mb-4">
            <div class="">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Details</h6>
                    
                    <div id="imagePreview" class="mb-3">
                        @if (string.IsNullOrEmpty(Model.PicName))
                        {
                            <img id="preview" src="~/images/UserAvatar/rickandmorty.jpg" alt="Image Preview" style="max-width: 100%; max-height: 300px; ">
                        }
                        else
                        {
                            <img id="preview" src="~/images/UserAvatar/@Model.PicName" alt="Image Preview" style="max-width: 100%; max-height: 300px; ">
                        }
                    </div>

                    <div class="mb-3">
                        <label for="exampleInputUserName" class="form-label">Username</label>
                        <input type="text" placeholder="@Model.UserName" class="form-control" id="exampleInputUserName" aria-describedby="userNameHelp" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputTitleDescription" class="form-label">Title Description</label>
                        <input type="text" placeholder="@Model.TitleDescription" class="form-control" id="exampleInputTitleDescription" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputDescription" class="form-label">Description</label>
                        <textarea class="form-control" placeholder="@Model.Description" id="exampleInputDescription" rows="3" readonly></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail" class="form-label">Email address</label>
                        <input type="email" placeholder="@Model.Email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp" readonly>
                        <div id="emailHelp" class="form-text">
                            We'll never share your email with anyone else.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputMobilePhone" class="form-label">Mobile Phone</label>
                        <input type="tel" placeholder="@Model.MobilePhone" class="form-control" id="exampleInputMobilePhone" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputLocation" class="form-label">Location</label>
                        <input type="text" placeholder="@Model.Location" class="form-control" id="exampleInputLocation" readonly>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" readonly checked>
                        <label class="form-check-label" for="exampleCheck1">Is Admin</label>
                    </div>

                    <a class="btn btn-primary" asp-area="Admin" asp-controller="User" asp-action="EditUser" asp-route-Id="@Model.Id" role="button">Edit</a>
                    <a class="btn btn-primary" asp-area="Admin" asp-controller="Home" asp-action="Index" role="button">Return</a>

                </div>

            </div>

            
        </div>
    
    </div>
</section>



<!-- picyure script -->
    <script>
        function previewImage(event) {
            const input = event.target;
            const preview = document.getElementById('preview');
            const file = input.files[0];
            const reader = new FileReader();

            reader.onload = function () {
                preview.src = reader.result;
            };

            reader.readAsDataURL(file);
        }
    </script>
<!-- picyure script -->
    

