@model Application.DTOs.ShowAllDto;

@{
    Layout = "_Layout";
    ViewData["Title"] = "کامیار خدری / Kamyar Khedri ";
}

<!--contains all the div-->
<div id="all">
    <!--mouse  follower-->
    <div class="cursor"></div>
    <!--mouse  follower-->
    <!--loader-->
    <div id="loader">
        <span class="color">@Model.UserName</span>
    </div>
    <!--loader-end-->
    <!--link-screen-->
    <div id="breaker">
    </div>
    <div id="breaker-two">
    </div>
    <!--link-screen-->
    <!--Main-Section-->
    <!--Navigator-fullscreen-->
    <div id="navigation-content">
        <div class="logo" >
            <img src="images/K-logo.png" alt="logo">
        </div>
       
        <div class="navigation-close">
            <span class="close-first"></span>
            <span class="close-second"></span>
        </div>
        <div class="navigation-links">
            <a href="#" data-text="HOME" id="home-link">HOME</a>
            <a href="#" data-text="ABOUT" id="about-link">ABOUT</a>
          @*   <a href="#" data-text="BLOG" id="blog-link">BLOG</a>
            <a href="#" data-text="PORTFOLIO" id="portfolio-link">PORTFOLIO</a> *@
            <a href="#" data-text="CONTACT" id="contact-link">CONTACT</a>
        </div>
    </div>
    <!--Navigator-Fullscreen END-->
    <!--Home Page-->
    <!--Menubar-->
    <div id="navigation-bar">
        <img src="images/K-logo.png" alt="logo">
        <div class="menubar">
            <span class="first-span"></span>
            <span class="second-span"></span>
            <span class="third-span"></span>
        </div>
    </div>
    <!--Menubar End-->
    <!--Header-->
    <div id="header">
        <div id="particles"></div>
        <!--Social Media Links-->
        <div class="social-media social-media-links">
            
            <a href="https://www.instagram.com/kamyarkhedrikiyarsi"><i class="color social-media fa-brands fa-instagram"></i></a><!--Your instagram homepage link inser in place of "#"-->
            <a href="https://t.me/KamyarKhedri"><i class="color social-media fa-brands fa-telegram"></i></a>
            <a href="https://www.linkedin.com/in/kamyar-khedri-kiyarsi-694abb2a6?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="color social-media fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/kamiyar-k7"><i class="color social-media fa-brands fa-github"></i></a>

        </div>
        <!--Social Media Links end-->
        <div class="header-content">
            <div class="header-content-box">
                <div class="firstline"><span class="color">@Model.UserName</span></div>
                <div class="secondline">
                    I'm a
                    <span class="txt-rotate color" data-period="1200" data-rotate='[ " Web Developer.", "C# Programmer.", " Freelancer." ]'></span>
                    <span class="slash">|</span>
                </div>
            
            </div>
        </div>
        <!--header image-->
        <div class="header-image">
            <img src="images/UserAvatar/@Model.PicName" alt="logo">
        </div>
        <!--header image end-->
    </div>
    <!--Header End-->
    <!--HomePage End-->
    <!--Main-Section End-->
    <!--about-->
    <div id="about">
        <div class="color-changer">
            <div class="color-panel">
                <img src="images/gear.png" alt="">
            </div>
            <div class="color-selector">
                <div class="heading">Custom Colors</div>
                <div class="colors">
                    <ul>
                        <li>
                            <a href="#0" class="color-red " title="color-red"></a>
                        </li>
                        <li>
                            <a href="#0" class="color-purple" title="color-purple"></a>
                        </li>
                        <li>
                            <a href="#0" class="color-malt" title="color-malt"></a>
                        </li>
                        <li>
                            <a href="#0" class="color-green" title="color-green"></a>
                        </li>
                        <li>
                            <a href="#0" class="color-blue" title="color-blue"></a>
                        </li>
                        <li>
                            <a href="#0" class="color-orange" title="color-orange"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--about content-->
        <div id="about-content">
            <div class="about-header">
                About <span class="color">Me</span>
                <span class="header-caption">Get to Know <span class="color"> me.</span></span>
            </div>
            <div class="about-main">
                <div class="about-first-paragraph wow">
                    <!--about description-->
                    <span class="about-first-line">
                        I'm creative
                        <span class="color">@Model.TitleDescription</span>
                        based in @Model.Location
                    </span>
                    <br>
                    <span class="about-second-line"> @Model.Description</span>
                    <div class="cv">
                        <a href="#"><button>Download <span class="colors">CV</span></button>(coming soon)</a>
                    </div>
                </div>
                <!--about picture-->
                <div class="about-img">
                    <img src="~/images/UserAvatar/@Model.PicName" alt="Your Image">
                </div>
            </div>

        </div>
        <!--services start-->
        <div id="services">
            <div class="color-changer">
                <div class="color-panel">
                    <img src="images/gear.png" alt="">
                </div>
                <div class="color-selector">
                    <div class="heading">Custom Colors</div>
                    <div class="colors">
                        <ul>
                            <li>
                                <a href="#0" class="color-red " title="color-red"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-purple" title="color-purple"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-malt" title="color-malt"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-green" title="color-green"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-blue" title="color-blue"></a>
                            </li>
                            <li>
                                <a href="#0" class="color-orange" title="color-orange"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--services header-->
            <div class="services-heading wow">
                <span class="color">My</span> Services
            </div>
            <!--services header end-->
            <!--services content-->
            @await Component.InvokeAsync("MyServices");

        </div>
        <!--services content end-->
        <!--services end-->
        <div id="skills">
            <div class="skills-header">
                My <span class="color"> Skills</span>
            </div>
            @await Component.InvokeAsync("MySkill");
        </div>
        <!--copyright-section You Can Remove After Downloading-->
        <div class="footer">
            <div class="footer-text">
                <img src="./images/copyright.png" alt="copyright-img" class="images" height="14px"> @Model.UserName
            </div>
        </div>
        <!--copyright-section-->
    </div>
    <!--about end-->
    <!--portfolio-->
   
    <!--portfolio end-->
    <!--blog-->
    
    <!--blog end-->
    <!--contact-->
    <div id="contact">
        <div class="color-changer">
            <div class="color-panel">
                <img src="images/gear.png" alt="">
            </div>
            <div class="color-selector">
                <div class="heading">Custom Colors</div>
                <div class="colors">
                    <ul>
                        <li>
                            <a href="#0" class="color-red " title="color-red"></a>
                        </li>
                        <li>
                            <a href="#0" class="color-purple" title="color-purple"></a>
                        </li>
                        <li>
                            <a href="#0" class="color-malt" title="color-malt"></a>
                        </li>
                        <li>
                            <a href="#0" class="color-green" title="color-green"></a>
                        </li>
                        <li>
                            <a href="#0" class="color-blue" title="color-blue"></a>
                        </li>
                        <li>
                            <a href="#0" class="color-orange" title="color-orange"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contact-header">
            Contact <span class="color"> Me</span>
            <div class="contact-header-caption"> <span class="color"> Get</span> In Touch.</div>
        </div>
        <div class="contact-content">
            <!--Contact form-->
            <div class="contact-form">
                <partial name="_contactPartial" model="Model.ContactDtos"> 
              @*  @await Component.InvokeAsync("Contact");  *@

            </div>

            <!--Contact form-->
            <!--Contact information--> 
            <div class="contact-info"> 
                <div class="contact-info-header">
                    Contact Info
                </div>
                <div class="contact-info-content">
                    <div class="contect-info-content-line">
                        <i class="social-media fa-solid fa-user"></i>
                        <div class="contact-info-icon-text">
                            <h6>Name</h6>
                            <p>@Model.UserName</p>
                        </div>
                    </div>
                    <div class="contect-info-content-line">
                        <i class="social-media fa-solid fa-location-dot"></i>
                        <div class="contact-info-icon-text">
                            <h6>Location</h6>
                            <p>@Model.Location</p>
                        </div>
                    </div>
                    <div class="contect-info-content-line">
                        <i class="social-media fa-solid fa-phone"></i>
                        <div class="contact-info-icon-text">
                            <h6>Call</h6>
                            <p>+98 @Model.MobilePhone</p>
                        </div>
                    </div>

                    <div class="contect-info-content-line">
                        <i class="social-media fa-solid fa-envelope"></i>
                        <div class="contact-info-icon-text">
                            <h6>Email</h6>
                            <p>@Model.Email</p>
                        </div>
                    </div>
                </div>
                <!--Contact information end-->
            </div>
        </div>
        <!--copyright-section You Can Remove After Downloading-->
        <div class="footer">
            <div class="footer-text">
                <img src="./images/copyright.png" alt="copyright-img" class="images" height="14px"> @Model.UserName
            </div>
        </div>
        <!--copyright-section-->
    </div>

    <!--contact end-->
</div>
<!--all the divisions-->



